# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Vite build output
dist/
dist-ssr/
*.local

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# SQLite database
server/database/*.sqlite
server/database/*.sqlite-journal
server/database/*.sqlite-wal
server/database/*.sqlite-shm
