.con {
    display: inline-block;
  }
  
  .txt1 {
    font-size: 5em;
    letter-spacing: 10px;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 4s steps(26) infinite;
}
  
  @keyframes typing {
    from {
      width: 0;
    }
    50% {
      border-color: transparent;
    }
  }